@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
/* Global CSS variables */
:root {
  --spacing-company: 3rem;
  --font-weight: 400;
  --border-radius: 0;
}

/* Typography */
h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}
p{
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 18px;
}

small {
  color: var(--muted-color);
}

/* Header */
.hero {
  background-color: #394046;
      background-image: linear-gradient(to bottom, rgba(37, 37, 40, 0),  #542727), url("../img/banner-1.JPG");
  background-position: center;
  background-size: cover;
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

/* Nav */
summary[role="link"].contrast:is([aria-current],:hover,:active,:focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

/* Main */
@media (min-width: 992px) {
  main .grid {
    grid-column-gap: var(--spacing-company);
    grid-template-columns: auto 25%;
  }
}

form.grid {
  grid-row-gap: 0;
}

/* Aside nav */
aside img {
  margin-bottom: 0.25rem;
}

aside p {
  margin-bottom: var(--spacing-company);
  line-height: 1.25;
  text-align: center;
}


.row{
  display: flex;
}

.brand-logo{
height: 80px;
width: auto;
}

.brand-logo-2{
height: 93px;
width: auto;
}

.intro-image{
  margin-top: 89px;
}

.intro-image img{
  border: 8px solid #1095c112;
}

.board{
  background-color: #394046;
      background-image: linear-gradient(to bottom, rgba(37, 37, 40, 0),  #542727), url("../img/img-3.jpg");
  background-position: center;
  background-size: cover;
}

/*.pub{
  background-color: red;
}*/

.news img{
  width: auto;
    height: 233px;
    margin: auto;
    text-align: center;
    display: flex;
}
/* .aside p{
  text-align: center !important;
} */
.about-image img {
max-width: 100%;
  height: 312px;
  border-style: none;
  width: 100%;
  margin-top: 10px;
  border-right: 15px solid #1095c1
}
.role{
  display: flex; 
  gap:50px
}
.news{
  padding: 20px;
    background: #1095c124;
    display: flex;
    flex-direction: column;
}
footer{
  border-top: 5px solid #1095c1;
}

.footer-2 img{
  height: auto;
  width: 610px;

}

.down-footer img{
  height: 76px;
}

@media screen and (max-width: 980px) {
.role {
    display: block;
  }

  footer{
  display: block !important;
}


}